
#diquahoacuc {
    margin-left: 450px;
    margin-top: -250px;
}
#diquahoacuc-name {
    font-size: 30px;
}
#diquahoacuc-tt {
    margin-top: 10px;
    font-size: 20px;
}
#diquahoacuc-price {
    margin-top: 10px;
    font-size: 25px;
}

#introduce-product {
    margin-top: 200px;
}

#img-intro {
    width: 400px;
    margin-left: 400px;
    margin-top: 30px;
}
#text {
    margin-left: 30px;
    margin-top: 30px;
}
#trangchu {
    margin-top: 10px;
}
.quantity-section {
    width: 160px;
    margin-left: 450px;
    margin-top: 10px;
}
#decrease-btn {
    width: 50px;
    border-radius: 15px;
    background: orange;
}
#decrease-btn:hover, #increase-btn:hover, #submit:hover {
    background: black;
    color: white;
}
#increase-btn {
    width: 50px;
    border-radius: 15px;
    background: orange;
}
#quantity {
    width: 50px;
}
#submit {
    background: orange;
    margin-top: 30px;
    border-radius: 15px;
}
.wrapper {
    margin-top: 10px;
    margin-left: 450px;
    font-size: 30px;
}
#footer {
    margin-top: 40px;
}
#top_line_footer {
    margin-top: 10px;
}