#sign_up {
    margin-left: 100px;
}
#signup_name {
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
}
#pass {
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
}
#repass {
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
}
#ten {
    margin-left: 140px;
    font-size: 20px;
}